<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="jumbotron my-5">
        <h1>Donate to the assistences in Zac.</h1>
				<p>We try to assist people in difficulties by reaching goals that can make them happy</p>
        <button type="button" class="btn btn-primary mr-2 float-right">Donate now</button>
        <button type="button" class="btn btn-info mr-2 float-right">Other Goals</button>
        <button type="button" class="btn btn-secondary mr-2 float-right">See Donations</button>
      </div>  
    </div>
    
  </div>
</div>